.btn{
    display: inline-block;
    border: 1px solid var(--color-primary);
    padding: 0.75rem 1.4rem;
    /* margin: 1rem; */
    cursor: pointer;
    border-radius: 10px;
    color: var(--color-primary);
    transition: var(--transition);
    max-width: max-content;
}
.btn:hover{
    color: var(--color-bg);
    background: var(--color-white);
    border-color: transparent;
}
.btn_primary{
    background: var(--color-primary);
    color: var(--color-bg);
}
.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.2rem;
}
